data/
outputs/
logs/
results/
__pycache__/
.idea
.vscode/
*/.ipynb_checkpoints
*.tc.*
*.tc_backward.*
*.log
*.bak
*.output/
error.txt
log.txt
.DS_Store
checkpoints/*
!checkpoints/.gitkeep
outputs/*
!outputs/.gitkeep
runs/*
*.pt
*.pth
*.ckpt
参考材料/